*{
    margin: 0;
    padding: 0;
    text-align: center;
}
#main{
    width: 100%;
    background:url(darkbackground.jpg);
    background-position: center; 
    background-size: cover;
    height: 109vh;
  
}
#navbar{
    height: 45px;
    background-color: black;
   
      
}



#logo{
    color: rgb(240, 20, 20);
    font-size: 30px;

    
}
a{
    margin-right: 80px;
    color: white;
    text-decoration: none;
    padding: 0px;
    font-size: 15px;
}
a:hover{
    color: chocolate;
}

input{
    color: black;
    background-color: white;
    font-size: 15px;  
}
.search{
    color: white;
    background-color: blueviolet;
    font-size: 15px;
}
.search:hover{
    color: rgb(91, 21, 10);
}
h1{
    color: black;
    font-size:100px;
    padding-top: 100px;
}
p{
    font-size: 30px;
    color: rgb(33, 12, 12);
}

.team{
    margin: 75px 0;
    font-size: 25px;

}
h2{
    font-weight: bold;
    letter-spacing: 1.4px;
    color: #191309;
}
footer{
    
    background-color:black;
    height: 200px;
    font-family: Arial;

}
footer p {
    padding-top: 50px;
    color:white;
}
.join{
    border-radius: 10px;
    font-size: 30px;
    padding: 12px;
    background-color: blueviolet;
    color: white;
}
.join:hover{
    color:rgb(91, 21, 10) ;
    background-color: rgb(49, 119, 177);
}
.content{
background-color: #60bee0; 
height: 200px;
}
.floating-images{
    display: flex;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.img{
    width: 200%;
    height:auto;
    max-width: 150px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}